{% extends 'base.html.twig' %}

{% block title %}ShoppingLists{% endblock %}

{% block body %}
    {% include '_components/_navbar.html.twig' %}
    <div class="m-3">
    <a href="{{ path('shopping_list_new') }}" class="btn btn-color fw-bold">Ajouter un élément ?</a>
    </div>

    <div class="container">
        <div class="container-primary rounded shadow">
            <div class="row justify-content-center mb-5 mt-5">
                <div class="col-md-8 text-center mt-2">
                    <h1 class="heading fs-3 fw-bold color-primary">Listes de courses</h1>
                </div>
                    {% for shopping_list in shopping_lists %}
                    <div class="d-flex flex-wrap">
                        <p class="text-black m-2"> - {{ shopping_list.name }} <a href="{{ path('shopping_list_edit', {id: shopping_list.id}) }}" class="text-black fw-bold"><i class="fas fa-pen"></i></a></p>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
